
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    box-sizing: border-box;
}

header {
    background-color: skyblue;
}

nav {
    position: fixed;
    z-index: 10;
    background-color: skyblue;
    width: 100%;
    height: 80px;
    display: block;
    padding-left: 25px;
    box-shadow: 0px 5px #3f3f3f;
}

nav ul {
    display: block;
    padding: auto 0px;
    height: 80px;
    background-color: skyblue;
}

nav li {
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    font-size: 24px;
    background-color: skyblue;
    padding-top: 24px;
    height: 80px;
}

nav li+li::before {
    content: "|";
    color: #3f3f3f;
    background-color: skyblue;
    width: 30px;
    padding-right: 15px;
}

nav li a {
    color: #3f3f3f;
    text-decoration: none;
    background-color: skyblue;
    text-align: center;
    margin-right: 15px;
}

main {
    position: relative;
    top: 90px;
}

main {
    margin-bottom: 50px;
}

main section {
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
    margin: 15px 25px;
}


h1 {
    color: skyblue;
    margin: 0 25px;
}

h2 {
    color: skyblue;
}

footer {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: skyblue;
    box-shadow: 0px -5px #3f3f3f;
    margin-top: 10px;
}

footer p {
    display: block;
    color: #3f3f3f;
    background-color: skyblue;
    padding: 14px 25px;
    height: 50px;
}

colour {
    display: inline-flex;
    color: #3f3f3f;
    border: 2px solid #3f3f3f;
    z-index: 5;
    width: 120px;
    height: 80px;
}

colour p {
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
}

.dark {
    border: 2px solid white;
    color: white;
}

.skyblue {
    background-color: skyblue;
}

.grey {
    background-color: grey;
}

.charcole {
    background-color:  #3f3f3f;
}

.aqua {
    background-color:  aqua;
}

fonts {
    display: inline-flex;
    padding: 5px;
    width: 400px;
}

fonts p {
    display: block;
}

.segoe-ui td {
    font-family: 'Segoe UI';
    font-size: 20px;
}

.tahoma td {
    font-family: Tahoma;
    font-size: 20px;
}

.geneva td {
    font-family: Geneva;
    font-size: 20px;
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

#name {
    text-decoration: underline;
}

