* {
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    box-sizing: border-box;
    margin: 0;
}

/* Header Elements */
header {
    position: fixed;
    display: flex;
    height: 69px;
    z-index: 10;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    width: 100%;
}

logo {
    display: flex;
    height: 50px;
    margin: auto 10px;
}

nav {
    display: flex;
    margin: auto 10px;
    height: 25px;
}

nav li {
    text-decoration: underline;
    display: inline-flex;
    flex-direction: row;
    margin-left: 15px;
}

/* Banner Styling */